/* Editor */
#ta_border{background:#fff;border:1px solid #abadb3;}
#ta_padding{padding:4px;}
#textarea{border:1px solid #fff;overflow-y:auto;padding:0 !important;resize:none;width:100%;}
#textarea:focus{-moz-box-shadow:none;outline:none;}
#ubb{border-bottom:1px solid #ccc;height:24px;position:relative;}
	#ubb>span{background-image:url('../../../images/common/ubb.gif');background-repeat:no-repeat;cursor:pointer;display:inline-block;height:20px;margin:2px 0 0 2px;padding:0 2px 2px 0;width:20px;}
	#ubb>div{background-color:#fff;border:2px solid black;display:none;position:absolute;top:24px;}
	.ubb_main{padding:5px;}
		.ubb_input_long{width:180px;}
		.ubb_input_short{width:30px;}
		#ubb textarea{height:90px;width:240px;}
	#ubb_style{background-position:0 0;}
	#ubb_style_main{padding:3px;}
		#ubb_style_main span{background-image:url('../../../images/common/ubb.gif');cursor:pointer;display:block;height:20px;width:20px;}
		#ubb_style_b{background-position:0 0;}
		#ubb_style_i{background-position:-20px 0;}
		#ubb_style_u{background-position:-40px 0;}
		#ubb_style_s{background-position:-60px 0;}
	#ubb_color{background-position:-80px 0;}
	#ubb_color_main{padding:3px 3px 0 3px;}
		#ubb_color_main span{cursor:pointer;display:inline-block;height:15px;width:15px;}
		#ubb_color_black{background-color:black;}
		#ubb_color_red{background-color:red;}
		#ubb_color_green{background-color:green;}
		#ubb_color_blue{background-color:blue;}
		#ubb_color_purple{background-color:purple;}
		#ubb_color_brown{background-color:brown;}
		#ubb_color_cyan{background-color:cyan;}
		#ubb_color_grey{background-color:grey;}
	#ubb_align{background-position:0 -20px;}
	#ubb_align_main{padding:3px;}
		#ubb_align_main span{background-image:url('../../../images/common/ubb.gif');cursor:pointer;display:block;height:20px;width:20px;}
		#ubb_align_left{background-position:0 -20px;}
		#ubb_align_center{background-position:-20px -20px;}
		#ubb_align_right{background-position:-40px -20px;}
		#ubb_align_justify{background-position:-60px -20px;}
	#ubb_size{background-position:-20px -40px;}
	#ubb_size_main{line-height:1.4;padding:3px;}
		#ubb_size_main span{cursor:pointer;display:block;}
		#ubb_size_12{font-size:12px;}
		#ubb_size_14{font-size:14px;}
		#ubb_size_16{font-size:16px;}
		#ubb_size_18{font-size:18px;}
		#ubb_size_20{font-size:20px;}
		#ubb_size_24{font-size:24px;}
		#ubb_size_28{font-size:28px;}
	#ubb_img{background-position:0 -40px;}
	#ubb_url{background-position:-80px -20px;}
	#ubb_quote{background-position:-40px -40px;}
	.ubb_quote{background:url('../../../images/common/quote_s.gif') no-repeat;margin:10px 0;padding:10px 10px 10px 65px;}
		.ubb_quote blockquote{background:url('../../../images/common/quote_e.gif') bottom right no-repeat;display:inline-block;margin:0;padding:0 65px 5px 0;}
	#ubb_code{background-position:-60px -40px;}
	.ubb_code{background:#ededed;border:1px solid #ccc;color:#333;margin:10px 0;overflow:hidden;padding-left:10px;}
		.ubb_code ol{border-left:1px solid #ccc;background:#f7f7f7;list-style:decimal;margin:0 0 0 34px;padding:10px 0;}
		.ubb_code li{font-family:Monaco,Consolas,"Lucida Console","Courier New",serif;font-size:12px;line-height:1.8;list-style:decimal-leading-zero;padding-left:10px;}
	#ubb_flash{background-position:-80px -40px;}
	#ubb_at{background-position:-20px -60px;}
		#ubb_at_user{background:#fff;border:1px solid #abadb3;border-top:none;display:none;position:absolute;width:182px;}
		#ubb_at_user li{border-top:1px solid #abadb3;cursor:pointer;padding:2px 5px;}
	#ubb_table{background-position:-60px -60px;}
	.ubb_table{border:1px solid #e3edf5;empty-cells:show;}
		.ubb_table td{border:1px solid #e3edf5;overflow:hidden;padding:4px;}
	#ubb_hr{background-position:-80px -60px;}
	.ubb_hr{border:none;background:#ddd;color:#ddd;height:1px;}
	#ubb_attach{background-position:0 -60px;}
	#ubb_attach_main{padding:5px;}
		#ubb_attach_main span{color:#06c;cursor:pointer;}
	#ubb_face{background-position:-40px -60px;}
	#ubb_face_main{padding:5px;}
		#ubb_face_main img{cursor:pointer;height:24px;padding:3px;width:24px;}
	#ubb_clear{background-position:0 -80px;}
	#ubb_delurl{background-position:-20px -80px;}